data/recipes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:simpleType name="CuisineType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Italian"/>
            <xs:enumeration value="Asian"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DifficultyLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="Hard"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="RecipeId">
        <xs:restriction base="xs:string">
            <xs:pattern value="r[0-9]{2,}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="recipes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recipe" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="NonEmptyString"/>
                            <xs:element name="cuisine" type="CuisineType"/>
                            <xs:element name="difficulty" type="DifficultyLevel"/>
                            <xs:element name="source" type="NonEmptyString" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="RecipeId" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueRecipeId">
            <xs:selector xpath="recipe"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>
