data/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:simpleType name="CuisineType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Italian"/>
            <xs:enumeration value="Asian"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SkillLevel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Easy"/>
            <xs:enumeration value="Medium"/>
            <xs:enumeration value="Hard"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="UserId">
        <xs:restriction base="xs:string">
            <xs:pattern value="u[0-9]{2,}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="users">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="NonEmptyString"/>
                            <xs:element name="surname" type="NonEmptyString"/>
                            <xs:element name="skillLevel" type="SkillLevel"/>
                            <xs:element name="preferredCuisine" type="CuisineType"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="UserId" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueUserId">
            <xs:selector xpath="user"/>
            <xs:field xpath="@id"/>
        </xs:unique>
    </xs:element>

</xs:schema>
